:root{
  --contrastColor:#0EA2E3;
  --fontColor:#ffffff;
  
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.headerContainer{
  display:  flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--contrastColor);
  color: var(--fontColor);
}

.logoContainer{
  display:  flex;
  align-items: center;
}

.pageName,.logoImageStyle{
  margin: 8px 0px 10px 20px;
  font-size: 1.8rem;
}

.navContainer{
  display: grid;
  grid-template:1fr / 0.8fr 1fr 1fr 1fr;
  width: 93%;
  text-align: center;
}

.linkStyle{
  text-decoration: none;
  color: var(--fontColor);
  font-weight: 600;
}

.sectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0px;
  width: 100vw;
}

.titleSection{
  font-size: 1.5rem;
}

.textContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 10%;
  font-size: 1.1rem;
}

.txtIsntructionStyle{
  margin-bottom: 20px;
}

.listStyle{
  margin: 15px 40px;
  list-style:disc;
  font-size: 1.1rem;
}

.itemStyle{
  margin: 15px 0px;
}

.btnContianerStyle{
  margin: 30px 0px;
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0EA2E366;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.searchAreaContainer{
  display: flex;
  flex-direction:  column;
  align-items: center;
  margin-bottom: 25px;
  font-size: 1.1rem;
  width: 250px;
}

#topContainer{
  margin-top: 25px;
}

.labelStyle{
  margin: 5px 0px 5px -15px;
}

.inputTxtStyle{
  height: 35px;
  padding: 9px;
  margin:10px 0px;
  font-size: 1rem;
}

.buttonsStyle{
  height:40px;
  background-color: var(--contrastColor);
  color: var(--fontColor);
  border: 1px solid var(--contrastColor);
  border-radius: 7px;
  font-weight: 800;
  font-size: 1.1rem;
  margin-top: 8px;
  padding:2px 5px;
}

.footersectionContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contrastColor);
  color: var(--fontColor);
}

.footerTitle{
  margin-top: 30px;
}

.gridContainer{
  display: grid;
  grid-template:1fr / 1fr 1fr;
  margin-top: 25px;
}

.linkArea{
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.footerLinkstyle{
  text-decoration: none;
  color: var(--fontColor);
  margin:10px 0px;
}

@media screen and (min-width:720px){

  .pageName{
    font-size: 2.2rem;
  }
  .textContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 10%;
    font-size: 1.4rem;
  }

  .titleSection{
    font-size: 1.9rem;
  }

  .itemStyle{
    font-size: 1.4rem;
  }

  .linkStyle{
    text-decoration: none;
    color: var(--fontColor);
    font-weight: 600;
    font-size: 1.4rem;
  }

  .btnContianerStyle{
    width: 400px;
  }

  .searchAreaContainer{
    display: flex;
    flex-direction:  column;
    margin-bottom: 25px;
    font-size: 1.1rem;
    width: 360px;
    align-items: center;
  }


.labelStyle{
font-size: 1.4rem;
}

.inputTxtStyle{
font-size: 1.3rem;
width: 90%;
}

.buttonsStyle{
font-size: 1.4rem;
width: 90%;
}


  .footerTitle{
    font-size: 2rem;
  }

  .footerLinkstyle{
    text-decoration: none;
    color: var(--fontColor);
    margin:10px 0px;
    font-size: 1.5rem;
  }

  .footerSubtitle{
    font-size: 1.7rem;
  }

  
}

@media screen and (min-width:1000px){

  .navContainer{
    display: grid;
    grid-template:1fr / 0.8fr 1fr 1fr 1fr;
    padding:7px 55px;
    text-align: center;
  }

  .sectionContainer{
    line-height: 33px;
  }

  .titleSection{
    font-size: 2.4rem;
    margin-bottom: 25px;
  }
  



}
